.div_menu {
  width: 100%;
  background-color: black;
}

.menu {
  color: white;
  text-transform: uppercase;
}

.slider-div {
  text-align: center;
}

p {
  text-align: justify;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
}